-- Check for all orders
SELECT "systemId", id, "createdAt" FROM orders ORDER BY "systemId";

-- Check for orphan orders that might be causing conflict
SELECT COUNT(*) as total_orders FROM orders;

-- Delete potential orphan orders if they exist
DELETE FROM orders WHERE "systemId" IN ('ORDER000003', 'ORDER000004', 'ORDER000005');

-- Verify deletion
SELECT "systemId", id FROM orders ORDER BY "systemId";
